* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans), serif;
  background-color: var(--bg-primary);
  color: var(--text-main);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track {
    background: var(--bg-primary);
  }

  &-thumb {
    background: var(--border-color);
    border-radius: 4px;

    &:hover {
      background: var(--bg-tertiary);
    }
  }
}
